<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="black" style="color :yellow"><br><br><br><br>

    <center>
    <h2> Login</h2>

    {% for message in messages %}
    <p style ="color:red;">{{ message }}</p>
    {% endfor %}    

    <form method="POST">
        {% csrf_token %}

        <input type ="text" name = "username" placeholder="Username"><br><br>
        <input type ="password" name="password" placeholder="Password"><br> <br>
        <button type ="submit">Login</button>
    </form>

    <p>Create an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    </center
</body> 
</html>