<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo App</title>
</head>
<center>
<body bgcolor="black" style="color :yellow"><br><br><br><br>


    <h2> My Todo List</h2>
    <form method ="POST">
        {% csrf_token %}
        <input type ="text" name="title" placeholder="Add Taskk">
        <button type ="submit">Add</button>
    
    </form>

    <ul style ="list-style-position: inside; text-align: center;">
        {% for todo in todos %}
            <li>
                {% if todo.completed %}
                    <strike>{{ todo.title }}></strike>
                {% else %}
                    {{ todo.title }}
                    <a href="{% url 'todo_edit' todo.srno %}">Edit</a>
                    <form method ="POST" action ="{% url 'complete_todo' todo.srno %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Complete</button>
                    </form>
                {% endif %}

                <form method ="POST" action ="{% url 'delete_todo' todo.srno %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Delete</button>   
                </form>
            </li>
        {% endfor  %}

    </ul> 
    
  
</body>
</center>
</html>